.card {
  width: 500px;
  height: 180px;
  background-color: rgb(206, 206, 195);
  margin: 10px;
  direction: flex;
 
}

.contenedor {
  direction: flex;
}

.hero {
  height: 600px;
}

.card-image {
  width: 50%;
}

.card-image img {
  width: 50%;

}